# Default ignored files
/shelf/
/workspace.xml
.idea/
.vscode/

build/
.gradle/
SoftServeCarMobile/.gradle/

SoftServeCarMobile/node_modules/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore




