# Default ignored files
/shelf/
/workspace.xml
.idea/
.vscode/

build/
.gradle/
SoftServeCarMobile/.gradle/
SoftServeCarMobile/.eslingrc.js
SoftServeCarMobile/.prettierrc.jsbundle
SoftServeCarMobile/.watchmanconfig
SoftServeCarMobile/react-native-config.js
SoftServeCarMobile/yarn.lock
SoftServeCarMobile/node_modules/
SoftServeCarMobile/.idea/
.vscode/
.idea/
../.idea/

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore





/SoftServeCarMobile/coverage/

/node_modules/
