{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "@react-native-community",
        "airbnb-typescript",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react",
        "plugin:shopify/esnext"
    ],
    "rules": {
        "no-console": 1,
        "no-loops/no-loops": 2
    }
}