name: CI

on:

  push:

    branches: [ develop ]

  pull_request:

    branches: [ develop ]

jobs:

  install-and-test:

    runs-on: ubuntu-latest

    steps: 

      - uses: actions/checkout@v2

      - name: Install npm dependencies

        run: |
          cd Car
          npm install
      - name: Run tests

        run: |
          cd Car
          npm test -- --coverage
  sonarcloud:

    runs-on: ubuntu-latest

    needs: [install-and-test]

    steps:

      - uses: actions/checkout@v2

      - name: Install npm dependencies

        run: |
          cd Car
          npm install
           npm test -- --coverage
      - name: SonarCloudScan

        uses: SonarSource/sonarcloud-github-action@v1.4

        env:

            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  

        with:

          args: >
            -Dsonar.organization=ita-social-projects
            -Dsonar.projectKey=ita-social-projects_Car-Front-End
            -Dsonar.javascript.lcov.reportPaths=Car/coverage/lcov.info 
            -Dsonar.sources=./Car
            -Dsonar.exclusions=**/coverage/**,**/__tests__/**,**/ios/**,**/android/**,,**/*config.js,**/*Style.tsx,**/*-test.tsx
            -Dsonar.verbose=false
            -Dsonar.coverage.exclusions=**/__tests__/**,**/coverage/**,**/*config.js,**/styles/**,**/ChatStyles/**,**/ios/**,**/android/**,**/*Style.tsx,**/*-test.tsx
            -Dsonar.c.file.suffixes=-
            -Dsonar.cpp.file.suffixes=-
            -Dsonar.objc.file.suffixes=-
            -Dsonar.java.file.suffixes=-  
